<div class="container-fluid wrapper" id="content">
  <div id="source">
    <div class="topnavbar">
      <h2>{{t 'source'}}</h2>
    </div>
    <div class="page-list">
      {{#each pages as |page|}}
        {{#doc-page content=page selected=(array-contains selectedItems page) highlightClass="hvr-grow" click=(action 'handleClick' page)}}
          <div class="highlight"></div>
        {{/doc-page}}
      {{/each}}
    </div>
  </div>

  <div id="compose">
    <div class="topnavbar">
      <h2>{{t 'composition'}}</h2>
      <button {{action 'toggleHelp'}} type="button" class="btn-help btn btn-default btn-small" >
        {{t 'help_button_text'}}
      </button>
    </div>
    <div id="compose-content">
      {{#compose-btn canSubmit=documents.length click=(action 'serialize')}}
        <i class="fa fa-cloud-download">&nbsp;</i>{{t 'submit'}}<br />
      {{/compose-btn}}
      {{doc-creator create='createDocument'}}
      {{#each sortedDocuments as |document|}}
        {{#pending-document content=document drop='addPage' as |page|}}
          {{#doc-page isDraggable=true content=page click=(action 'toggleZoom' page)}}
          <div class="close fa fa-times" {{action 'removePage' page document}}></div>
          {{/doc-page}}
        {{/pending-document}}
      {{/each}}
    </div>
  </div>
</div>

{{#if isHelpVisible}}
{{#modal-dialog translucentOverlay=true close="toggleHelp"}}
  <div class="modal-body">
    <h2>{{t 'help.title' }}</h2>
    <div class="bg"></div>
    <br/>
    <h4>{{t 'help.subtitle' }}</h4>
    <p>{{t 'help.paragraph_1_html'}}</p>
    <p>{{t 'help.paragraph_2_html'}}</p>
  </div>
  <div class="modal-footer">
    <div class="btn btn-primary pull-right" {{action 'toggleHelp'}}>{{t 'ok'}}</div>
  </div>
{{/modal-dialog}}
{{/if}}

{{#if previewImage}}
{{#modal-dialog
  translucentOverlay=true
  close="toggleZoom"
  attachment="top center"}}
  <img src="{{previewImage.large_src}}" alt="{{previewImage.name}}">
{{/modal-dialog}}
{{/if}}
